.uploadButtons {
  display: flex;
  flex-direction: column;
}
.uploadImageWrapper {
  display: flex;
  flex-direction: column;
}
.imageItem {
  display: flex;
  flex-direction: row;
}
.imageItemButtons {
  margin: 5px;
  display: flex;
  flex-direction: column;
}
.image {
  width: 60%;
  margin: 0 10px;
  object-fit: scale-down;
}
.button {
  margin: 10px 0;
  border-width: 1px !important;
  padding: 10px !important;
  font-size: medium !important;
  font-weight: 500 !important;
  text-decoration: none !important;
  background-color: white;
  border-radius: 10px;
  border-color: black;
  color: black;
}
.button:hover {
  background-color: black !important;
  color: white;
  text-decoration: underline !important;
  text-decoration-color: white !important;
}
.progress {
  position: relative;
  margin: 10px auto;
  display: block;
}