.container {
  background-color: white;
  margin: 10px 15%;
}
.cover {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.authorPhoto {
  border-radius: 50%;
  width: 50px;
  margin-right: 10px;
}
.authorSection {
  display: flex;
  flex-direction: row;
}
.subContainer {
  padding: 20px;
}
.author {
  font-weight: 700;
}
.title {
  margin: 20px 0;
  overflow-wrap: break-word;
  hyphens: auto;
}
.tag {
  margin: 20px 0;
  margin-right: 20px;
}
.tagsContainer {
    margin: 20px 0;
}