.listItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: black;
}
.listItemPart {
  margin: 1% 15px 1% 1%;
}
.listContainer {
  margin: 20% 3% !important;
  display: flex;
  flex-direction: column;
}
.cancelIcon {
  float: right;
  margin: 5% 5% 5% 0;
}
.social {
  margin: 0 7%;
}
.listSocial {
  position: absolute;
  bottom: 20px;
  width: 100%;
}
.h3Header {
  float: left;
  margin: 5% 5% 0 5%;
}