.appBar {
  padding: 5px !important;
  background-color: white;
  max-height: 54px;
}
.searchButton {
  color: black !important;
  margin: 0 5px;
}
.appTitle {
  font-size: x-large;
  flex-grow: 1;
  color: black;
  text-decoration: none;
}
.appTitle:hover {
  color: black;
}
.appBarLarge {
  padding: 5px 15% !important;
  background-color: white;
  max-height: 54px;
}
.photo {
  border-radius: 50%;
  width: 45px;
  margin: 0 5px;
}
.notifications {
  color: black;
  font-size:large;
  margin: 0 5px;
}