.appBar {
  padding: 5px !important;
  background-color: white;
  max-height: 54px;
}
.searchButton {
  color: black !important;
  padding: 10px !important;
}
.appTitle {
  font-size: x-large;
  flex-grow: 1;
  color: black;
  text-decoration: none;
}
.appTitle:hover {
  color: black;
}
.appBarLarge {
  padding: 5px 15% !important;
  background-color: white;
  max-height: 54px;
}