.loginButton {
    margin: 0 auto !important;
    border-width: 3px !important;
    padding: 2% !important;
    font-size: x-small !important;
    color: black !important;
    font-weight: 800 !important;
  }