body {
  margin: 0;
}
.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
  width: 350px;
  max-width: 70%;
}
.PostsNav .active,
.TopNav .active {
  color: black;
}
.css-4t3x6l-MuiPaper-root-MuiDrawer-paper,
.css-h4y409-MuiList-root {
  height: 100vh;
}
/* .css-6hp17o-MuiList-root-MuiMenu-list {
  width: 300px;
} */